<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container-div titleContainer">
      <h1>Write a New Message</h1>
      <p class="subtitle">pls be nice :)</p>
    </div>

    <div class="container-div form-container">
      <form method="post" action="/new">
        <div class="inputContainer">
          <label for="userInput">Your Name:</label>
          <input type="text" name="user" id="userInput" />
        </div>
        <div class="inputContainer">
          <label for="textInput">Message: </label>
          <textarea name="text" id="textInput"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
