<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container-div titleContainer">
      <h1>Mini Message Board</h1>
      <p class="subtitle">
        A <b>Node.js</b> project for
        <a href="https://www.theodinproject.com/">The Odin Project</a> built
        with
        <b>Express</b>
      </p>
    </div>

    <div class="container-div message-board">
      <a class="button-link" href="/new">Write a Message</a>
      <% messages.forEach(message => { %>
      <hr />
      <div class="message-container">
        <p><b>Author:</b> <%= message.user %></p>
        <p class="message-date">
          <b>Date added:</b>
          <%=`${message.added.getDate()}/${message.added.getMonth()}/${message.added.getFullYear()}`%>
        </p>
        <p><b>Message:</b> <%= message.text %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
