<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <div class="titleContainer">
      <h1>Mini Message Board</h1>
      <p class="subtitle">
        A <b>Node.js</b> project for
        <a href="https://www.theodinproject.com/">The Odin Project</a> built
        with
        <b>Express</b>
      </p>
    </div>

    <div class="content-div message-board">
      <% messages.forEach(message => { %>
      <p><%= message.user %></p>
      <p>
        <%=
        `${message.added.getDate()}/${message.added.getMonth()}/${message.added.getFullYear()}`
        %>
      </p>
      <p><%= message.text %></p>
      <% }) %>
    </div>
  </body>
</html>
